*~
*/*~
*.dat
obj/*
*.xyz
ASD
*.gpl
obj/*.o
*/*.o
*/*/*.o
*.eps
*.pdf
array.job
*.vtu
unit_cell_files
*.swp
*/*.swp
*.ucf
*.DS*
N_8
exchange_files/GdFe_MultiLayers/
fourier_space_analysis/ssf
fourier_space_analysis/timeseries
4DFFT
4dfilter.py
ASDCPU
back
back.cpp
back2
cff.MnW001
cff.chud
cff.new
cffMn
df
exch.0
exch.chud
exch.in
exch.sc.2
exch.sc.5spec
exch.sc.nnn
exch.test
exch.test.2sub
fft
fft_100
fftcpu
fftcpuf
fftgpu
fourier_space_analysis/2slssf
fourier_space_analysis/kvecinfo.back
fourier_space_analysis/nohup.out
fourier_space_analysis/src/twosublatssf.cpp
fourier_space_analysis/ssfTM.tar.bz2
fourier_space_analysis/ssfab.tar.bz2
ftt
gpu
if
inc/sim
mn1w110.jij
mnonw_maptoint.dat.back
ncff
new
orig
psd
real_space_analysis/
sf.chud
test.cpp
test/
test_checkpoint/
ucf.chud
