*~
*/*~
*.dat
obj/*
*.xyz
ASD
*.gpl
obj/*.o
*/*.o
*/*/*.o
*.eps
*.pdf
array.job
*.vtu
unit_cell_files
*.swp
*/*.swp
*.ucf
*.DS*
N_8
exchange_files/GdFe_MultiLayers/
fourier_space_analysis/ssf
fourier_space_analysis/timeseries
